<!DOCTYPE html>
<html>
<head>
  <title>Sabaterias</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="tudo">
    <div id ="conteudo">
        <%= render 'layouts/navbar' %>
        <%= yield %>
    </div>  
  </div>
</body>
</html>
